@import url('main.css');
@import url('nav.css');

#wrapper {
    position: absolute;
    top: 0px;
    left: -100%;
    width: 200%;
    height: 100%;
    margin: 0;
    padding: 0;
    transition: left 0.5s;
}
#wrapper div {
    float: left;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#todo {

}
#home {

}
